{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "quotes": [
      "error",
      "single"
    ]
  }
}